* {
    box-sizing: border-box;
}
body {
    background-color: rgb(52, 52, 61);
    margin: 0;
}
.nav-content {
    display: flex;
    justify-content: space-around;
    background-color: rgb(69, 69, 69);
    box-shadow: 0px 0px 20px 0px black;
}
.nav-icon {
    width: 50px;
}
nav > div > div > span {
    color: white;
    font-size: larger;
}
.home-page-content{
    overflow: hidden;
}
.home-welcome {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
}
.home-crop-img {
    width: 100vw;
}
.section1>div>div>div>h1 {
    font-size: 3.5rem;
    color: rgb(255,255,255);
}
.section1>div>div>div>p {
    color: rgb(255,255,255);
    font-size: 1.7rem;
}
.home-innerDiv {
    margin: 4rem 3rem;
    padding: 1rem 1.5rem;
    max-width: 650px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
}

.section2>h1{
    margin: 1rem 0 1rem 2rem;
    color: rgb(212, 212, 212);
    font-size: 3rem;
}
.team>div>img{
    max-width: 200px;
}
.team {
    display: flex;
    justify-content: space-around;
}
.team>div {
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 200px;
    border-radius: 12px;
    overflow: hidden;
}
.team>div>p {
    color: rgb(212, 212, 212);
}